.MuiIconButton-label input[type="checkbox"] {
    cursor: pointer;
    position: absolute !important;
}

.MuiAutocomplete-root {
    width: 100%;
}

.MuiFormLabel-root.MuiInputLabel-root, .MuiFormControl-root .MuiInputBase-root{
    font-size: 16px;
}

.MuiChip-root .MuiChip-label {
    font-size: 12px;
}

.test-class {
    background: red !important;
}

.test-font {
color: black;
font-size: 17px;
font-family: inherit;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}


.parent-class.MuiAutocomplete-option {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 235px;
}

.MuiAutocomplete-option:hover {
    background: #5591c540 !important;
}

.MuiInput-underline:after {
    border: none !important;
}