.MuiIconButton-label input[type="checkbox"] {
    cursor: pointer;
    position: absolute !important;
}

.MuiAutocomplete-root {
    width: 100%;
}

.MuiFormLabel-root.MuiInputLabel-root, .MuiFormControl-root .MuiInputBase-root{
    font-size: 16px;
}

.MuiChip-root .MuiChip-label {
    font-size: 12px;
}

.test-class {
    background: red !important;
}

.test-font {
color: green;
font-size: 20px;
}